<center><h1>Welcome to Url Shortner<br>
<% if session[:authenticate]== true %>
<h2></h2>
Select the Service <br>
<%= link_to "Find Short Url",urls_long_url_to_short_url_path%> <br>
<%= link_to "Find Long Url",urls_short_url_to_long_url_path%> <br>
<%=link_to 'Generate Report',home_page_generate_report_path%><br>
<%=link_to 'Elastic Search',search_path%><br>

<%=link_to "LogOut",users_logout_path %>
<% else %>
<%= link_to "SignUp",users_signup_path%> or 
<%= link_to "Login",users_login_path%> to continue
<% end %>
<p></p>
</h1>
</center>
