<center>
<%= form_with url: 'ShowShorten' do |f| %>
    <h5>Long Url : <%= f.text_field :long_url %><br><br> 
    Domain : <%= f.text_field :domain %><br><br>
    <%= f.submit "Generate Short Url" %></h5>
  <% end %>
  <center><%= link_to "Home",home_index_path%></center>
</center>