<table class="table table-bordered">
    <thead>

  <tr>
    <th>Long Url</th>
    <th>Short Url</th> 
    <th>Domain</th> 

  </tr>
</thead>
  <% @urls.each do |t| %>
<thread>
  <tr>
    <td><%=t[:long_url]%></td>
    <td><%=t[:short_url]%></td> 
    <td><%=t[:domain]%></td> 

  </tr>
  <%end%>
</thread>
  
</table>

<center><%= link_to "Back",:back %></center>

<center><%= link_to "Home",home_page_index_path%></center>
