<table style="width:100%">
  <tr>
    <th>Long Url</th>
    <th>Short Url</th> 
    <th>Domain</th> 

  </tr>
  <% @urls.each do |t| %>
  <tr>
    <td><%=t[:long_url]%></td>
    <td><%=t[:short_url]%></td> 
    <td><%=t[:domain]%></td> 

  </tr>
  <%end%>
  
</table>

<center><%= link_to "Back",:back %></center>

<center><%= link_to "Home",home_index_path%></center>
